.message-row {
  display: flex;
}
.message {
  margin: 4px;
  padding: 8px;
  border-width: 10px;
  background-color: lightgrey;
  width: 70%;
}
.message-row--self {
  @extend .message-row;
  justify-content: flex-end;
}

.message-sender {
  text-align: right;
  font-style: italic;
}

.chatbox {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 30em;
}

.messagebox {
  width: 100%;
  display: flex;
  input {
    flex-grow: 1;
  }
}
